* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  background-color:#E4E4E4;
  font-family:'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size:18px;
  margin-left: 14px;
  margin-top: 42px;
}

#selectRow {
    padding: 10px;
}

#feed {
    padding: 10px;
}
textarea {
    height: 8rem !important;
}